.sponsor-container {
  text-align: center;
  padding: 20px;
  width: 100%; /* Ensure the container takes the full width */
}

.sponsor-grid {
  display: flex;
  justify-content: space-between; /* Ensures even spacing between items */
  align-items: stretch;
  margin-top: 20px;
  width: 100%; /* Ensure the grid takes the full width */
}

.sponsor-div {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white; /* Set background color to white */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center; /* Center text horizontally */
  margin: 0 10px;
}

.inner-div {
  background-color: #1f2937; /* Set background color to black */
  color: white; /* Set text color to white */
  padding: 10px; /* Add padding */
  margin-bottom: 10px; /* Add margin to separate from the rest of the content */
  border-radius: 4px; /* Add rounded corners */
  font-size: 30px; /* Adjust font size */
  letter-spacing: 2px;
  font-weight: bold;
}

.sponsor-image {
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  max-width: 100%; /* Ensure the image does not exceed the container width */
  height: 150px;
}
