.gradient-text {
  font-size: 24px;
  font-weight: bold;
  background: linear-gradient(to right, #ff671f, white, #046a38);
  background-clip: text; /* Clips the gradient to the text */
  -webkit-background-clip: text; /* Required for WebKit browsers (Chrome, Edge, Safari) */
  -webkit-text-fill-color: transparent; /* Makes the text transparent to show the gradient */
}

.custom-navbar {
  background-color: #1f2937; /* Dark background color */
}

.custom-navbar .nav-link {
  color: #8A8A8A; /* Default color for nav links */
  transition: color 0.3s ease; /* Smooth transition for hover and active states */
}

.custom-navbar .nav-link:hover {
  color: white !important; /* Change color on hover */
}

.custom-navbar .nav-link.active {
  color: white !important; /* Highlight the active tab */
  font-weight: bold; /* Optional: Make the active tab bold */
  border-bottom: 2px solid white; /* Optional: Add an underline to the active tab */
}