.contact-section {
  background-color: #151515; /* Dark background color */
  padding: 50px 0; /* Padding for top and bottom */
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: absolute;
  background-color: black;
  width: 100%;
  color: white;
}

.contact-form-container {
  background-color: #1f2937; /* Slightly lighter dark background */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contact-title {
  color: white;
  font-family: "Lalezar", sans-serif;
}

.contact-form-container .form-label {
  color: white;
}

.contact-form-container .form-control {
  color: white;
  border: none;
}

.contact-form-container .form-control::placeholder {
  color: #bbb;
}

.contact-form-container .btn-primary {
  background-color: #007bff;
  border: none;
}

.contact-form-container .btn-primary:hover {
  background-color: #0056b3;
}
