.about {
    background-color: #151515;
    color: #E4E4E4;
    font-family: 'Lalezar';
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about .front-image {
    width: 100%;
}

.about .title {
    display: flex;
    justify-content: center;
}

.about .content {
    width: 80%;
    font-weight: 400;
}

.about .card-wrapper,
.about .card-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
}

.about .card-sections {
    margin: 25px 0;
}

.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.about .card {
    background: #1F2937;
    border: 4px solid #E4E4E4;
    height: 12rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.about .ais-alumni {
    display: flex;
    font-size: 30px;
    align-items: center;
}

.about .ais-alumni img {
    margin-left: 10px;
    height: 20px;
    width: 20px;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
}

.loader {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    position: absolute;
    background-color: black;
    width: 100%;
}