.home-container {
  background-color: #151515;
  color: white; /* Optional: Set text color to white for better contrast */
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.home-container .loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  position: absolute;
  background-color: black;
  width: 100%;
}

.home-container h1 {
  text-align: center;
  margin: 20px 0;
}

.background-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 800px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  z-index: 1;
  color: white;
  font-size: xxx-large;
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("../../assets/homeImage.svg");
  background-repeat: no-repeat;
  background-size: cover; /* Resize the image to cover the entire container */
  background-position: center; /* Center the image */
}

.background-image-div p {
  margin-top: -30rem;
}

.background-image-div1 {
  background-image: url("../../assets/Highlights.png");
  background-size: cover;
  background-position: center;
  height: 800px; /* Adjust the height as needed */
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: black;
  font-weight: bold;
}
